@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

* {
  scrollbar-width: thin;
  scrollbar-color: theme(--color-gray-400) theme(--color-gray-100);
}
body {
  font-weight: 649;
}
