@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@source inline(
  '{bg,text,border}-{amber,red,green,emerald,blue,yellow,gray,indigo,purple,pink,orange}-{50,100,200,300,400,500,600,700,800,900,950}/50'
);

* {
  scrollbar-width: thin;
  scrollbar-color: theme(--color-gray-400) theme(--color-gray-100);
}
body {
  font-weight: 649;
}
